* {
  /*transition:0.8s all linear;*/
}

body {
  background-color: #EBEBE5; /* update tumblr as well */
  padding-top:30px;
}

.show-grid{
  padding-top:50px;
}

img{
  width:100%;
}

h1{
  text-align:center;
}
