@font-face {
  font-family: 'Ranger';
  src: url("../fonts/Ranger.ttf");
}

@font-face {
  font-family: 'Arvil';
  src: url("../fonts/Arvil.ttf");
}

body {
  background-color: #EBEBE5;
  padding: 75px 0 100px;
  font-family: 'Arvil';
  font-size:20px;
  letter-spacing: 1px;
}

@media only screen and (max-width:767px) {
  body {
    padding-left:15px;
    padding-right:15px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    padding-top:40px;
  }
}

.container {
  width: 95%;
}

@media only screen and (max-width:992px) {
  .container {
    width: 100%;
  }
}

.show-grid{
  padding-top:50px;
}

@media only screen and (max-width:992px) {
  .show-grid {
    padding-top:0;
  }
}

@media only screen and (max-width:992px) and (min-width:768px){
  header {
    padding-bottom: 20px;
  }
}

.ReactModal__Content .show-grid{
  padding:40px 0;
}

img{
  width:100%;
}

h1{
  text-align:center;
  font-family: 'Arvil';
  font-size:75px;
  position:relative;
  letter-spacing: 3px;
}

h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
h1 a:visited {
  color:#333;
  text-decoration: none;
}

h1 img {
  height: 20vw;
  width: auto;
  margin-bottom: 25px;
}

@media only screen and (max-width:992px){
  h1{
    font-size:60px;
  }

  h1 img {
    height: 40vw;
  }
}

@media only screen and (max-width:767px){
  h1{
    font-size:50px;
  }

  h1 img {
    height: 60vw;
  }
}

h2 {
  margin:0;
  font-family: 'Ranger';
  font-size:50px;
  word-spacing: -10px;
  display: inline;
}

.sci-name{
  /*font-size: 35px;
  font-style: italic;
  letter-spacing: 1px;
  margin-left: 10px;*/
  /*position: absolute;*/
  bottom: 120px;
  left:120px;
}

.btn{
  font-size:20px;
  letter-spacing:1px;
  position: absolute;
  right: 10%;
  bottom: 30px;
  padding: 8px 20px;
}

/* modal styles */
.ReactModal__Body--open {
  overflow: hidden;
}

/* ensure below are being applied */
.modal-content {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  left: 15vw;
  right: 15vw;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  /*-webkit-overflow-scrolling: touch;*/
  border-radius: 4px;
  outline: none;
  padding: 0;
  box-shadow:none;
  text-align: center;
}

@media only screen and (max-width: 991px){
  .modal-content {
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
  }
}

@media only screen and (max-width: 767px){
  .modal-content {
    top: 1vh;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;
  }
}

.modal-content img{
  width:90%;
  text-align:center;
  margin:0 auto;
  margin-bottom: 30px;
  position:relative;
}

.modal-overlay {
  /*background-color: rgba(68,181,209,0.7);*/
  /*background-color: transparent;*/
  /*background-color: rgba(235,235,229, 0.6);*/
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}
