/**
* TODO: ensure mobile is good enuf
*/

/** testing loader **/
/** add :empty to the loader's selectors **/

.loader:empty,
.loader:empty:after {
  position:absolute;
	width:100vw;
	background-color:lightblue;
  z-index:99;
  bottom:0;
  left:0;
}
.loader:empty {
	-webkit-animation-delay: 0s, 3s;
  -webkit-animation-duration: 3s, 2s;
  -webkit-animation-name: slide, fade;
	-webkit-animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    height:0;
  }
  100% {
    height:100vh;
	}
}

@keyframes fade {
	0%, 50% {
		opacity:1;
	}
	100% {
		opacity: 0;
	}
}

/** load in fonts **/
@font-face {
	font-family: 'Sonder';
	src: url("../fonts/SonderSans-Black.otf");
}

@font-face {
	font-family: 'Octanis';
	src: url("../fonts/Octanis-SansRoundedItalic.ttf");
}

/* STRUCTURE */
@media only screen and (max-width:992px) and (min-width:768px) {
	header {
		padding-bottom: 20px;
	}
}

body {
	opacity: 1;
	background-color: #fff;
	padding: 75px 0 0;
	font-family: 'Sonder';
	font-size: 20px;
	letter-spacing: 1px;
	animation: background-load 1s linear forwards 3s;
	background-position: center -200px;
	background-size: 100vw auto;
	background-repeat: no-repeat;
}

@keyframes background-load {
	100%{
		background-image: url("../images/background.png");
	}
}

@media only screen and (max-width: 992px) {
	body {
		padding-top: 40px;
		background-position: center -5px;
	}
}

@media only screen and (max-width:767px) {
	body {
		background-size: 175vw auto;
	}
}

.container {
	width: 95%;
}

@media only screen and (max-width:992px) {
	.container {
		width: 100%;
	}
}

/** fish row **/
.show-grid {
	padding-top: 50px;
}

@media only screen and (max-width:992px) {
	.show-grid {
		padding-top: 0;
	}
}

footer {
	margin-top: 80px;
	text-align: center;
	padding: 80px 25vw;
	background-color: #BEDFF7;
	background: linear-gradient(white, #BEDFF7);
}

img {
	width: 100%;
	font-size:25px;
	font-family: 'Arial';
}

.img {
	opacity: 0;
	transition: opacity 2s;
}

.img-fish {
	background-image: url("../images/modal-bg.png"); /* temp loader */
	background-size: cover;
}

.img-fish:hover {
	cursor: pointer;
}

.modal-wrapper .img-fish:hover {
	cursor: default;
}

.img-loaded {
	opacity: 1;
	background: none;
}

/* TYPOGRAPHY */
h1 {
	text-align: center;
	position: relative;
	letter-spacing: 3px;
}

h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
h1 a:visited {
	color: #333;
	text-decoration: none;
}

h1 img {
	height: 20vw;
	width: auto;
	margin-bottom: 25px;
}

@media only screen and (max-width:992px) {
	h1 {
		font-size: 60px;
	}
	h1 img {
		height: 40vw;
	}
}

@media only screen and (max-width:767px) {
	h1 {
		font-size: 50px;
	}
	h1 img {
		height: 60vw;
	}
}

h2 {
	margin: 0;
	font-family: 'Ranger';
	font-size: 50px;
	word-spacing: -10px;
	display: inline;
}

.small,
small {
	font-size: 75%;
}

.sci-name {
	bottom: 120px;
	left: 120px;
}

/*.btn{
font-size:20px;
letter-spacing:1px;
position: absolute;
right: 10%;
bottom: 30px;
padding: 8px 20px;
}*/

.modal-content .en-fish {
	font-family: 'Sonder';
	font-size: 35px;
	margin-right: 10px;
}

@media only screen and (max-width: 991px) {
  .modal-content .en-fish {
    font-size:4vw;
  }
}

@media only screen and (max-width: 767px) {
  .modal-content .en-fish {
    font-size:5vw;
  }
}

.modal-content .fish-names {
	font-size: 30px;
	text-transform: uppercase;
}

@media only screen and (min-width: 1500px) {
  .modal-content .fish-names {
  	margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 991px) {
  .modal-content .fish-names {
  	font-size: 3vw;
  }
}

@media only screen and (max-width: 767px) {
  .modal-content .fish-names {
  	font-size: 4vw;
  }
}

.mobile-back {
  font-size:20px;
  top:20px;
  position:absolute;
  z-index: 9;
  text-align:left;
}

@media only screen and (max-width:767px) {
	main img {
		padding: 20px 0;
	}
}

/* MODAL */
.ReactModal__Body--open {
	overflow: hidden;
}

.modal-wrapper {
	vertical-align: bottom;
}

.modal-content {
	font-family: 'Octanis';
	position: absolute;
	top: 5vh;
	bottom: 5vh;
	left: 5vw;
	right: 5vw;
	border: none;
	background: #fff;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	box-shadow: none;
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.modal-content {
		top: 5vh;
		bottom: 5vh;
		left: 5vw;
		right: 5vw;
	}
}

@media only screen and (max-width: 767px) {
	.modal-content {
		top: 10vh;
		bottom: 10vh;
		left: 10vw;
		right: 10vw;
    overflow-x: hidden;
    padding-top:0;
	}
}

.modal-content img {
	height: 75%;
	max-width: 100%;
  width: auto;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
}

@media only screen and (max-width: 800px) {
  .modal-content img {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content img {
    max-width: none;
    width: 105vw;
  }
}

@media only screen and (max-width: 767px) {
	.modal-content img {
    max-width: none;
    /* no max width line */
    /*top: 100px;*/
    /*margin-bottom: 0;*/
    margin-bottom:30px;
    /*-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
	}
}

.modal-content p {
	margin-top: -30px;
	font-size: 35px;
}

.schemes {
	margin-top: 20px;
	padding: 0;
}

.modal-content .scheme {
	width: 5vw;
	height: 5vw;
	max-height: 70px;
	max-width: 70px;
	display: inline-block;
	margin: 0 5vw;
}

/*.pulse {*/
/*.modal-content .scheme:hover {
	animation: pulse 2s linear infinite;
	cursor: pointer;
}*/

/*@media only screen and (max-width: 767px) {
	.modal-content .scheme {
		margin: 0;
	}
	.modal-content .scheme:hover {
		animation: none;
	}
}*/

/*@keyframes pulse {
	0%, 20% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}*/

.modal-overlay {
	background-image: url("../images/modal-bg.png");
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
